<form [formGroup]="form"  (ngSubmit)="login(form.value)">
    <h2>Sign in</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid data in Form</div>
    <div class="form-group">        
        <label for="inputEmail"> Email</label>
        <input formControlName="email" id="inputEmail" type="email" name="email" class="form-control" >  
    </div>
    <div class="form-group">        
        <label for="inputPassword"> Password</label>
        <input formControlName="password" id="inputPassword" type="password" name="password" class="form-control" >  
    </div>
    <button type="submit" class="btn btn-primary mb-2"  [disabled]="!form.valid">Sign In</button>
</form>