<h1>Home Page</h1>
<p>
  Welcome <span *ngIf="authService.isLoggedIn()">{{authService.currentUser.name}}</span>
</p>
<ul>
  <li *ngIf="authService.isLoggedIn() && authService.currentUser.isAdmin"><a routerLink="/admin">Admin</a></li>
  <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
  <li *ngIf="authService.isLoggedIn()"><a href="#" (click)="logout()">Logout</a></li>
</ul>
